h1{
    color: rebeccapurple;
}
.green-text{
    color: green;
}
* {
    text-align: center;
}
img {
    float: left;
    height: 200px;
    width: 150px;
    text-align: justify;
}
#crimson {
    color: crimson;
}
html {
    background-color: black
}
#experience{
    color:royalblue
}
li{
    text-align: left;
}
.developer {
    color:violet;
}
.powershell {
    color: lime;
}
.computer {
    color: chartreuse;
}
